<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>vue.js + websocket sample</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div id="app">
    <section id="chat-component" class="component">
      <input type="text" id="message" size="50" v-model="message" placeholder="メッセージを入力" @keyup.enter="keypress"/>
      <div id="chat">
        <ul>
          <li class="box" v-bind:class="item.owner == 'self' ? 'left' : 'right'"
              v-for="(item, index) in messages" v-bind:item="item">
            <p>{{ item.message }}</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</body>
</html>
